################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Program Files/src/PhantomControl/bin/Debug/Output Files
/Program Files/.vs/PhantomControl/FileContentIndex/097f042c-e147-4074-b9bb-28ce74402ea3.vsidx
/.vs
