################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Program Files/src/PhantomControl/bin/Debug/Output Files
/Program Files/.vs/
/.vs
